
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

th{
  padding:10px;
}

td{
  padding-left:10px;
  padding-right:10px;
  width:90%;
  margin:auto;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
  width: 100%;
}

.header__inner {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 110px;
  vertical-align: top;
  width:130px;
  padding-left: 2em;
}

.header__titles {
  vertical-align: top;
  width: calc(100% - 150px);
  display: inline-block;
  height: 110px;
  box-sizing: border-box;
}

.header__title {
  font-size: 2em;
  padding-top: 1em;
}

.header__subtitle {
  font-size: 1.5em;
}

.title__string{
  font-weight: 100;
  color:#2d3c49;
  width: auto;
  text-align: right;
  display:block;
  padding-right: 20px;
}


/*
 *
 * Content
 *
 */

 .content__image {
   display:block;
   margin:auto;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 10px;
 }

 .project__container {
   display: block;
   width: 100%;
 }

 .container__title {
   display: block;
   font-size: 2em;
   font-weight: 100;
   color: #908c8c;
   text-align: left;
   padding-left: 20px;
   padding-top:20px;
   padding-bottom:10px;
 }

  .container {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .project {
    max-width:330px;
  }

 .project__image {
   display: block;
   margin:auto;
   max-width: 70%;
   max-height: 150px;
   padding-top: 2px;
   padding-bottom: 2px;
 }

.project__name {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color:#2d3c49;
  margin:0;
}

.project__link {
  text-align: center;
  font-size: 1em;
  font-weight: 100;
  color:#2d3c49;
}
 /*
  *
  * Support
  *
  */

.flex__start {
  align-self:flex-start;
}

.flex__end {
  align-self:flex-end;
}

.left {
  float: left;
  padding-right:5px;
  padding-left:5px;
}
